body{
    font-family: Arial;
}
.addtoCart{
    background-color: yellow;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
}
.uberButtons{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
}
.black-btn{
    background-color: black;
    color: white;
}
.gray-btn{
    background-color:rgb(235, 231, 231);
    color: black;
}
    